/*! Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*! Utility Stylings */
body {
  font-family: 'Odibee Sans', cursive;
  font-size: 1.5rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 4fr;  
  grid-template-areas: 
  'nav header header'
  'nav main main'
  'nav sec sec'
  'nav footer footer';
  overflow: hidden;
}

.text-primary {
  color: rgb(160, 30, 30);
}

.btn {
  background: rgb(160, 30, 30);
  padding: 5px;
  color: #fff;
  display: inline-block;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
}

.btn:hover {
  opacity: 0.8;
}

/*! nav bar */
.container #nav-bar {
  height: 100%;
  background: #000;
  color: #fff;
  padding-left: 25px;
  grid-area: nav;
}

#nav-bar #profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px;
}

#nav-bar h2 {
  letter-spacing: 1.3;
  font-weight: lighter;
}
#nav-bar p{
  text-transform: uppercase;
  font-size: 1.25rem;
}

#nav-bar ul  {
  margin-top: 60px;
  list-style: none;
  font-family: arial;
}

/*! Main Header */
#main-header {
  text-align: center;
  padding-top: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #000;
  opacity: 0.9;
  color: #fff;
  grid-area: header;
}

#main-header::before {
  content: '';
  background: url('https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#main-header h1 {
  font-size: 4.5rem;
  letter-spacing: 5px;
  word-spacing: 2px;
}

#main-header p {
  font-size: 2rem;
}

#main-header .social i{
  color: #fff;
  padding: 10px;
  margin-left: 10px;
}

/* !Main Content */
#main-content {
  padding-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin: auto;
  background: #fff;
  grid-area: main;
  height: auto;
  padding: 10px;
}

#main-content img {
  width: 100%;
  height: 500px;
  display: inline-block;
  margin-left: 20px;
}

#main-content #main-text {
  width: 100%;
  padding: 10px;
  margin: 40px;
}

#main-content #main-text p {
  padding: auto; 
}

#main-content #main-text h4 {
  display: inline-block;
  letter-spacing: 1.5px;
}

#main-content #main-text .info {
  margin-top: 20px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 95%;
  justify-content: center;
  align-items: center;
}

/*! Section: Secondary Text */
#sec-text {
  background: rgb(230, 218, 218);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sec;
  height: 70vh;
}

#sec-text #text {
  padding: 15px;
  width: 50%;
}

#sec-text #text h1 {
  margin-bottom: 20px;
}

/*! Skills */
#sec-text #skills {
  width: 500px;
  margin: 60px auto; 
}

#sec-text #skills li {
  list-style: none;
  margin: 20px 0;
}

#sec-text #skills h4 {
  display: inline-block;
}

#sec-text #skills h5 {
  display: inline-block;
  float: right;
}

#skills .progress-bar {
  width: 100%;
  height: 5px;
  margin: 10px auto;
  background: rgb(131, 130, 130);
  border-radius: 10px;
  padding: 2px;
}

#skills .progress {
  width: 100%;
  height: 3px;
  border-radius: 8px;
  background: rgb(160, 30, 30);
  margin-top: -1px;
  padding: 1px;
}

#skills .progress-bar  #wordpress {
  width: 95%;
}

#skills .progress-bar  #css {
  width: 85%;
}

#skills .progress-bar  #html {
  width: 75%;
}

#skills .progress-bar  #after-effect {
  width: 80%;
}

/* ! Footer */
#main-footer {
  grid-area: footer;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-footer p {
  font-size: 1.5rem;
}